<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div class="text-header"><h1>WHO ARE WE?</h1></div>

        <section class="mission">
            We bridge disciplines.<br>
            We unite students and social enterprise.<br>
            We create changemakers.<br>
        </section>

        <div class="text-header"><h1>WHAT IS SOCIAL ENTERPRISE?</h1></div>
        <p><strong>Social enterprise applies business techniques to real-life situations in order to solve social issues.</strong></p>

        <p>Social enterprise includes:</p>

        <ul>
            <li>Microfinance, Micro-loans, and Micro-insurance (providing financial services to the impoverished)
            Social Businesses, which can be operated mostly by the people (and the communities) that benefit from them. The customers ARE the owners (basically).</li>
            <li>Entrepreneurship training, so that others can learn to support themselves and develop a sustainable business
            <li>Non-Profits which operate like a business</li>
            Social enterprise has been very successful in helping to achieve social objectives.</li>
        </ul>

        <p><strong>In different areas, social enterprise can:</strong></p>

        <ul>
            <li>Empower women and oppressed groups</li>
            <li>Help the impoverished lift themselves out of poverty</li>
            <li>Solve environmental and health issues</li>
            <li>Provide education where there is little</li>
        </ul>

        <p>
        <strong>These lists aren’t the ‘end-all’ of social enterprise.</strong> The beauty of social enterprise is that, in using business practices, it can recognize and fill whatever need exists.
        </p>
    </div>
</div>
