<form method="post" action="/admin/blog/create">
    <input type="text" name="blogTitle" placeholder="Enter Title">
    <input type="text" name="blogContent" placeholder="Enter Content">
    <input type="submit" value="Add Blog">
</form>
<form method="post" action="/admin/member/add">
    <input type="text" name="memberTitle" placeholder="Enter Title">
    <input type="text" name="memberDescription" placeholder="Enter Description">
    <input type="submit" value="Add Member">
</form>
<form method="post" action="/admin/event/add">
    <!--input type="text" name="date" placeholder="Enter date"-->
    <input type="title" name="eventDescription" placeholder="Enter Title">
    <input type="submit" value="Add Event">
</form>