<form method="post" action="/admin/blog/create">
    <input type="text" name="title" placeholder="Enter Title">
    <input type="text" name="content" placeholder="Enter Content">
    <input type="submit" value="Add Blog">
</form>
<form method="post" action="/admin/member/add">
    <input type="text" name="title" placeholder="Enter Title">
    <input type="text" name="description" placeholder="Enter Description">
    <input type="submit" value="Submit">
</form>
<form method="post" action="/admin/event/add">
    <!--input type="text" name="date" placeholder="Enter date"-->
    <input type="title" name="description" placeholder="Enter Title">
    <input type="submit" value="Submit">
</form>