<body id="conference">
<center>
<img src="Images/SEConference-Logo-Final.png" width=150px height=150px id="logo-background-conference" >

<p id="title-conference"> UBC SOCIAL ENTERPRISE CONFERENCE
<hr id="line-conference"></p>

<p></p>
<p id="par1"> The UBC Social Enterprise Club presents UBC's first annual Social Enterprise Conference to be held on March 28th, 2015 in the Henry Angus Building on the UBC campus.</p>
<p id="par1">Under the theme, The Missing Piece, the conference will highlight the potential of social enterprise and INNOVATION to solve the world’s most massive problems and progress humanity. Delegates will gain insight into the experiences of entrepreneurs creating change on a local and global scale.</p>
<button type="submit" id="want-attend" > Want to Attend? </button>
</center>
</body>
