<div class="row">
    <div class="col-md-2 sponsor-logo col-md-offset-3"><a href="https://www.vancity.com" id="vancity"></a></div>
    <div class="col-md-2 sponsor-logo"><a href="http://www.livehappywater.com" id="livehappywater"></a></div>
    <div class="col-md-2 sponsor-logo"><a href="http://www.sauder.ubc.ca/Global_Reach/Sauder_Social_Entrepreneurship_-_Kenya" id="sauder">Sauders</a></div>
    <div class="col-md-2 sponsor-logo"><a href="http://www.fairware.com" id="fairware">fairware</a></div>
</div>
<div class="row">
    <div class="col-md-2 sponsor-logo col-md-offset-3"><a href="http://saveonmeats.ca" id="saveonmeats">Save On Meats</a></div>
    <div class="col-md-2 sponsor-logo"><a href="http://www.ethicalbean.com" id="ethicalbean">Ethical Bean</a></div>
    <div class="col-md-2 sponsor-logo"><a href="http://www.ams.ubc.ca" id="ams">AMS</a></div>
    <div class="col-md-2 sponsor-logo"><a href="http://students.ubc.ca/about/global-lounge" id="globallounge">Global Lounge</a></div>
</div>
<div class="row">
    <div class="col-md-2 sponsor-logo col-md-offset-3"><a href="http://www.cus.ca" id="cus">CUS</a></div>
    <div class="col-md-2 sponsor-logo"><a href="http://amssustainability.ca" id="amssustainability">AMS Sustainability</a></div>
    <div class="col-md-2 sponsor-logo"><a href="http://mills.ca" id="mills">Mills</a></div>
    <div class="col-md-2 sponsor-logo"><a href="http://www.signarama.ca" id="signarama">Signarama</a></div>
</div>
<div class="row">
    <div class="col-md-2 sponsor-logo col-md-offset-3"><a href="http://www.scotiabank.com/ca/en/0,0,2,00.html" id="scotiabank">Scotiabank</a></div>
</div>